include:
    # - docker-compose-redis.yml
    - docker-compose-db.yml

name: gauniv
services:
    gauniv.webserver:
        image: ${DOCKER_REGISTRY-}gaunivwebserver
        build:
            context: .
            dockerfile: Gauniv.WebServer/Dockerfile
        environment:
          - ASPNETCORE_ENVIRONMENT=Development
          - ASPNETCORE_URLS=http://+:80
          - ConnectionStrings:DefaultConnection=Server=postgres_primary;Port=5432;Database=db;Username=admin;Password=password
          # - ConnectionStrings:redis=redis-sentinel:26379,serviceName=mymaster,password=redis
        ports:
          - "8457:80"
        volumes:
          - ./executable:/app/games/memorygame:ro
        depends_on:
          - postgres_primary
    gauniv.gameserver:
        image: ${DOCKER_REGISTRY-}gaunivgameserver
        build:
            context: .
            dockerfile: Gauniv.GameServer/Dockerfile
        environment:
          - ASPNETCORE_ENVIRONMENT=Development
          - ASPNETCORE_URLS=http://0.0.0.0:5000
          - ConnectionStrings:DefaultConnection=Server=postgres_primary;Port=5432;Database=db;Username=admin;Password=password
        ports:
          - "5000:5000"
        depends_on:
          - postgres_primary
    
    nginx:
        image: nginx:latest
        volumes:
            - ./nginx.conf:/etc/nginx/nginx.conf:ro
            - ./certificate:/certificate:ro
        depends_on:
            - gauniv.webserver
            - gauniv.gameserver
        ports:
            - "80:80"
            - "443:443"
            - "15000:15000"

